@font-face {
    font-family: BillenniumRegular;
    src: url("../fonts/Billennium-Regular.otf");

}

@font-face {
    font-family: BillenniumSemiBold;
    src: url("../fonts/Billennium-SemiBold.otf");
}


body {
    background: white;
    font-family: BillenniumRegular;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}

.input {
    width: 504px !important;
    height: 75px !important;
    border-radius: 10px !important;
    font-family: BillenniumRegular !important;
    color: black !important;
    font-size: 20pt !important;
}

.ml-min-30 {
    margin-left: -30px;
}
.bline{
    border-color: #ff5a00;
    border-style: solid;
    border-width: 2px;
}

input[type=checkbox] {
    width: 40px;
    height: 35px;
    border-radius: 4px !important;
    background-color: #ededed;
    cursor: pointer;
}

button[type=submit] {
    width: 162px;
    height: 55px;
    border-radius: 5px;
    border: 0px !important;
    background-color: #ff5a00;
    padding: 15px 50px;
    cursor: pointer;
    font-family: BillenniumSemiBold !important;
    font-size: 20pt !important;
}

input[type=submit]:hover {
    background-color: #ff5a00 !important;
}

input[type=submit]:disabled {
    background-color: #666666;
}

.vcenter {
    display: flex;
    align-items: center;
}

span {
    font-family: BillenniumRegular;
    font-size: 12pt;
}

span.required {
    font-size: 14pt;
}

li {
    font-family: BillenniumSemiBold;
    line-height: 40px;
    font-size: 25pt;
    font-weight: 600;
    margin-top: 30px;
    type: disk;
}

.txt_header1 {
    font-family: BillenniumRegular;
    line-height: 40px;
    font-size: 24pt;
    font-weight: normal;
    color: #ff5a00;
    margin-top: 80px;
}

.txt_header2 {
    font-family: BillenniumSemiBold;
    line-height: 60px;
    font-size: 36pt;
    margin-top: 30px;
    color: black;
}

.txt_header3 {
    font-family: BillenniumSemiBold;
    line-height: 60px;
    font-size: 22pt;
    margin-top: 30px;
    color: black;
}
.txt_info {
    font-family: BillenniumRegular;
    line-height: 40px;
    font-size: 16pt;
    margin-top: 5px;
    color: black;
    font-weight: 500;
}
.txt_hex {
    font-family: BillenniumSemiBold;
    line-height: 30px;
    font-size: 14pt;
    margin-top: 5px;
    color: black;
}

.txt_agenda {
    font-family: BillenniumRegular;
    line-height: 30px;
    font-size: 14pt;
    margin-top: 5px;
    color: black;
    font-weight: 500;
}

.txt_white {
    font-family: BillenniumRegular;
    line-height: 30px;
    font-size: 16pt;
    padding-left:40px;
    padding-top:40px;
    padding-bottom: 40px;
    padding-right: 40px;
    color: white;
    font-weight: 500;
}

.size_header {
    font-size: 22pt;
    line-height: 45px;
    font-weight: bold;
    padding-bottom: 0px;
    letter-spacing: normal;
}

.col_color {
     background-color: #ff5a00;
 }

button {
    color: #ffffff;
    background-color: #ff5a00;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #ff5a00;
    padding: 15px 50px;
    cursor: pointer
}
button:hover {
    color: #ff5a00;
    background-color: #ffffff;
}

.form_background {
    margin: 100px;
    background-color: white;
}
.form_header {
    text-align: center;
    font-weight: normal;
    font-size: 30pt;
    line-height:45px;
    font-family: BillenniumRegular;
    color: #ff5a00;
}

mark.orange {
    font-family: BillenniumSemiBold;
    line-height: 30px;
    background-color: transparent;
    font-size: 14pt;
    margin-top: 5px;
    color: #ff5a00;
}

.txt_picto {
    font-family: BillenniumSemiBold;
    line-height: 30px;
    font-size: 18pt;
    margin-top: 20px;
    color: black;
}

.txt1 {
    font-family: BillenniumRegular;
    line-height: 30px;
    font-size: 16pt;
    margin-top: 50px;
    padding-left: 0px;
    color: black;
    font-weight: 500;
}

.txt3 {
    font-family: BillenniumSemiBold;
    line-height: 62px;
    font-size: 20pt;
    margin-top: 11px;
    padding-left: 30px;
    color: black;
    font-weight: 600;
}

.line {
    border-top: 5px solid #ff5a00;
}

#modal {
    position: fixed;
    display: block;
    overflow: hidden;
    margin: auto;
    z-index: 2000;
    margin-top: 10%;
}

#modal-content {
    background-color: black!important;
    filter:alpha(opacity=50);
    opacity: 0.5;
    -moz-opacity:0.5;
    border: 0!important;
    box-shadow: none!important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    overflow: hidden;
    margin: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 3000px;
    z-index: 1000;
}