body {
    background: white;
    font-family: Myriad Pro;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}

.input {
    width: 504px !important;
    height: 75px !important;
    border-radius: 10px !important;
    font-family: Myriad Pro !important;
    color: black !important;
    font-size: 20pt !important;
}

.ml-min-30 {
    margin-left: -30px;
}

input[type=checkbox] {
    width: 40px;
    height: 35px;
    border-radius: 4px !important;
    background-color: #ededed;
    cursor: pointer;
}

input[type=submit] {
    width: 162px;
    height: 55px;
    border-radius: 5px;
    border-width: 0px;
    background-color: #ff5a00;
    color: white;
    font-family: Myriad Pro !important;
    font-size: 12pt !important;
    font-weight: bold;
}

input[type=submit]:hover {
    background-color: #ff5b01;
}

input[type=submit]:disabled {
    background-color: #666666;
}

.vcenter {
    display: flex;
    align-items: center;
}

span {
    font-family: Myriad Pro;
    font-size: 12pt;
}

span.required {
    font-size: 14pt;
}

li {
    font-family: Myriad Pro;
    line-height: 40px;
    font-size: 25pt;
    font-weight: 600;
    margin-top: 30px;
    type: disk;
}

.txt_header1 {
    font-family: Myriad Pro;
    line-height: 35px;
    font-size: 20pt;
    font-weight: normal;
    color: #ff5a00;
    margin-top: 80px;
}

.txt_header2 {
    font-family: Myriad Pro;
    line-height: 60px;
    font-size: 30pt;
    margin-top: 30px;
    color: black;
    font-weight: bold;
}

.txt_header3 {
    font-family: Myriad Pro;
    line-height: 60px;
    font-size: 22pt;
    margin-top: 30px;
    color: black;
    font-weight: bold;
}
.txt_info {
    font-family: Myriad Pro;
    line-height: 40px;
    font-size: 16pt;
    margin-top: 5px;
    color: black;
    font-weight: 500;
}
.txt_hex {
    font-family: Myriad Pro;
    line-height: 30px;
    font-size: 14pt;
    margin-top: 5px;
    color: black;
    font-weight: 600;
}

.txt_agenda {
    font-family: Myriad Pro;
    line-height: 30px;
    font-size: 14pt;
    margin-top: 5px;
    color: black;
    font-weight: 500;
}

.txt_white {
    font-family: Myriad Pro;
    line-height: 30px;
    font-size: 16pt;
    padding-left:30px;
    padding-top:30px;
    padding-bottom: 30px;
    padding-right: 30px;
    color: white;
    font-weight: 500;
}

.size_header {
    font-size: 22pt;
    line-height: 45px;
    font-weight: bold;
    padding-bottom: 0px;
    letter-spacing: normal;
}

 .col_color {
     background-color: #ff5a00;
 }
mark.orange {
    font-family: Myriad Pro;
    line-height: 30px;
    background-color: transparent;
    font-size: 14pt;
    margin-top: 5px;
    color: #ff5a00;
    font-weight: 600;
}

.txt_picto {
    font-family: Myriad Pro;
    line-height: 30px;
    font-size: 18pt;
    margin-top: 20px;
    color: black;
    font-weight: 600;
}

.txt1 {
    font-family: Myriad Pro;
    line-height: 30px;
    font-size: 16pt;
    margin-top: 50px;
    padding-left: 0px;
    color: black;
    font-weight: 500;
}

.txt3 {
    font-family: Myriad Pro;
    line-height: 62px;
    font-size: 20pt;
    margin-top: 11px;
    padding-left: 30px;
    color: black;
    font-weight: 600;
}

.line {
    border-top: 5px solid #ff5a00;
}

#modal {
    position: fixed;
    display: block;
    overflow: hidden;
    margin: auto;
    z-index: 2000;
    margin-top: 10%;
}

#modal-content {
    background-color: black!important;
    filter:alpha(opacity=50);
    opacity: 0.5;
    -moz-opacity:0.5;
    border: 0!important;
    box-shadow: none!important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    overflow: hidden;
    margin: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 3000px;
    z-index: 1000;
}